<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DBConnectString>Data Source=(local);User ID=sa;Password=sa;Initial Catalog=ShopSys;Pooling=true</DBConnectString>
  <VirtualPath>/</VirtualPath>
  <TemplatePath>version_9</TemplatePath>
  <Dbtype>MsSql</Dbtype>
  <Language>MsSql</Language>
  <MultiLang>0</MultiLang>
  <ViewMode>Aspx</ViewMode>
  <CacheTime>1</CacheTime>
</BaseConfigInfo>