<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- EnterpriseLibrary相关配置 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <log4net>
    <logger name="V5Logger">
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\logs\shop_Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
  </log4net>


  <!-- 数据库连接字符串列表 -->
  <dataConfiguration defaultDatabase="DefaultString" />
 	<connectionStrings>
        <add name="DefaultString" connectionString="Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;Persist Security Info=True;User ID=V5Shop_WeiKeBao;Password=WRfj1QSdoiIawLhb;" providerName="System.Data.SqlClient" />
		<add name="Portal" connectionString="Data Source=localhost;Initial Catalog=V5Shop_Portal;User ID=V5Shop_Portal;Password=A8fKeOSxTgZurIiC;" providerName="System.Data.SqlClient" />
		<add name="PortalDbContext" connectionString="metadata=res://*/Data.PortalDbContext.csdl|res://*/Data.PortalDbContext.ssdl|res://*/Data.PortalDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Portal;User ID=V5Shop_Portal;Password=A8fKeOSxTgZurIiC;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="ProductDbContext" connectionString="metadata=res://*/Data.ProductDbContext.csdl|res://*/Data.ProductDbContext.ssdl|res://*/Data.ProductDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="MarketDbContext" connectionString="metadata=res://*/Data.MarketDbContext.csdl|res://*/Data.MarketDbContext.ssdl|res://*/Data.MarketDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="OrderDbContext" connectionString="metadata=res://*/Data.OrderDbContext.csdl|res://*/Data.OrderDbContext.ssdl|res://*/Data.OrderDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="CustomerDbContext" connectionString="metadata=res://*/Data.CustomerDbContext.csdl|res://*/Data.CustomerDbContext.ssdl|res://*/Data.CustomerDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="SecurityDbContext" connectionString="metadata=res://*/Data.SecurityDbContext.csdl|res://*/Data.SecurityDbContext.ssdl|res://*/Data.SecurityDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="DeliveryDbContext" connectionString="metadata=res://*/Data.DeliveryDbContext.csdl|res://*/Data.DeliveryDbContext.ssdl|res://*/Data.DeliveryDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="DrpDbContext" connectionString="metadata=res://*/Data.DrpDbContext.csdl|res://*/Data.DrpDbContext.ssdl|res://*/Data.DrpDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="WeiXinDbContext" connectionString="metadata=res://*/Data.WeiXinDbContext.csdl|res://*/Data.WeiXinDbContext.ssdl|res://*/Data.WeiXinDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="StatisticsDbContextContainer" connectionString="metadata=res://*/Data.StatisticsDbContext.csdl|res://*/Data.StatisticsDbContext.ssdl|res://*/Data.StatisticsDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=V5Shop_WeiKeBao;User ID=V5Shop_WeiKeBao;password=WRfj1QSdoiIawLhb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

	</connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="1200" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="1000" backingStoreName="Null Storage" name="Default Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>

  <!-- 当前使用的数据库连接 -->
  <!-- 使用缓存的相关配置 -->
  <!-- 网站运行相关配置 -->
  <appSettings>
    <!--日志-->
    <add key="LoggerName" value="V5Logger" />
    <add key="MaskPage" value="index.aspx|Top.aspx|show.aspx|Left.aspx|lefttop.aspx|Login.aspx|logout.aspx|lefthelp.aspx" />
    <add key="LogKeyFile" value="../App_GlobalResources/AdminLog.resx" />
    <!--商品图片路径-->
    <add key="ItemImagePath" value="http://123.57.1.196/" />
  <add key="BMCURL" value="http://123.57.1.196/ThumbnailImage/320/" />
    <add key="BMCURL2" value="http://123.57.1.196/" />
	  <!--分销商佣金冻结时长-->
	  <add key="DRPCashLockedDays" value="15" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="3600" />
    <!--  注意：此节设置错误信息的显示

          "On" 始终显示自定义(友好的)信息。
          "Off" 始终显示详细的 ASP.NET 错误信息。
          "RemoteOnly" 只对不在本地 Web 服务器上运行的
    -->
    <trace localOnly="false" mostRecent="true" pageOutput="true" />
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="Off" defaultRedirect="error.htm">
      <error statusCode="404" redirect="error.htm" />
    </customErrors>
    <!--  注意：此节设置全球化，V5Shop由此支持多语言。
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto" uiCulture="auto" />
    <!--  注意：此节设置是否使用ASP.net表单安全验证，V5Shop使用自己的验证。
    -->
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--  注意：此节设置由V5Shop接管http请求。不会干涉对非V5Shop路径下的请求。
    -->
    <httpModules>
      <add name="HttpModule" type="V5Shop.Page.HttpModule, V5Shop.Page" />
      <!--<add name="DiscuzHttpModule" type="Discuz.Forum.HttpModule, Discuz.Forum"/>-->
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>











