
      <div class="classtitle">
        <div class="titlename">
          <div class="chinese">退换货政策</div>
          <div class="english">RENTURN POLICY</div>
          <div class="arrow"></div>
          <div class="arrow2"></div>
        </div>
      </div>
      <div class="classcontent"> <span style="font-family: 幼圆;"> <span lang="EN-US" style="line-height: 150%; color: rgb(102, 102, 102); font-size: 9pt;">
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        <p></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"> <span style="color: rgb(0, 0, 0);"> <span style="font-family: 宋体;"> <span style="font-size: small;"> <strong> <span lang="EN-US" style="line-height: 150%;"> 我们承诺 <br>
          </span> </strong> </span> <span lang="EN-US" style="line-height: 150%; font-size: 9pt;"> 自您签收商品之日起7日内（以物流快递单签收时间为准），我们为您提供退换货服务。 <br>
          <br>
          </span> <span style="font-size: small;"> <strong> <span lang="EN-US" style="line-height: 150%;">退换货规定&nbsp; </span> </strong> </span> </span> </span> </p>
        <p></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        <p></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        <p></p>
        <p></p>
        <p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"></p>
        </span> </span> <span lang="EN-US" style="line-height: 150%; font-family: 宋体; font-size: 9pt;">
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;">1.一张订单只为您提供一个退换服务，为了确保您的权益，请考虑周全后与我们联系；</p>
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;"><br />
          2.退换货产品需保证吊牌及外包装完整、无因客户自身原因造成的产品质量问题、无污渍、无损毁，并随货寄回附属品、赠品等；</p>
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;"><br />
          3.退回商品的附属物不完整或者损毁，将根据具体情况进行折价；</p>
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;"><br />
          4.若购买商品时开过发票，请将发票随商品一同寄回，如发票遗失将无法办理退换货；</p>
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;"><br />
          5.如商品类目包含内衣裤，根据国家相关规定，如无质量问题，不属于退换货商品；</p>
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;"><br />
          6.抢购、折扣、特价和特殊指定的商品，如无质量问题，不属于退换货商品；</p>
        <p class="MsoListParagraph" style="line-height: 10pt; text-indent: 0cm; margin: 0cm 0cm 0pt;"><br />
          7.图片及信息仅供参考，因拍摄灯光及显示器不同等原因，些许色差不能避免，一切以实物为准。<br />
          <br>
          <span style="font-family: 宋体;"> <br>
          </span> <br>
          <span style="font-size: small;"> <strong>运费说明</strong> </span> </p>
        <div style="line-height: 10pt; text-indent: -13.5pt; margin: 0cm 0cm 0pt 13.5pt;"> <span style="font-size: 9pt;"> 1、非商品本身质量问题，退换货寄回费用由客户承担； <br>
          <br>
          </span> </div>
        <div style="line-height: 10pt; text-indent: -13.5pt; margin: 0cm 0cm 0pt 13.5pt;"> <span style="font-size: 9pt;">2、因为质量原因，退换货运费由我方承担； <br>
          <br>
          </span> </div>
        </span><p class="MsoNormal" align="left" style="text-align: left; line-height: 150%; margin: 0cm 0cm 0pt;"> <span lang="EN-US" style="line-height: 150%; font-family: 宋体; font-size: 9pt;">3、报销的运费将存入您 的虚拟账户中，可进入"我的账户"进行查询。 <br>
          <br>
          4、退换货后需满足运费条件 。<strong><br>
          </strong> </span></p>
        </div>
    