<header class="topbar">
    <div class="topbar-left">
    <a href="javascript:window.history.go(-1)" class="i-back">asd</a>
    <a href="index.aspx" class="logo">
    <img src="{logo}" alt="logo">
    </a>
    </div>
    <div class="topbar-right">
    <a class="i-member" href="member/member.aspx">会员</a>
    <a href="cart.aspx" class="i-cart">&nbsp;
    <#if Convert.ToInt32(totalnum)>0#>
    <span class="tips" id="countcart">{totalnum}</span>
    <#else#>
    <span class="tips" id="countcart" style=" display:none">0</span>
    <#/if#>
    </a>
    </div>
</header>
