<?xml version="1.0" encoding="utf-8"?>
<ProductOperate xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Product ControlName="trBrand" TextName="商品品牌" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trVirtualProduct" TextName="是否虚拟商品" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trChangeProduct" TextName="是否换购商品" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trScoreChange" TextName="是否积分兑换" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trHitCount" TextName="浏览次数" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trScore" TextName="赠送积分" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trBuyNumber" TextName="起购数量" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trIsPresent" TextName="是否配件" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trProperty" TextName="分类属性价格" Add="True" Edit="True" Type="Table" />
  <Product ControlName="trMemberPrice" TextName="会员等级价格" Add="True" Edit="True" Type="Table" />
  <Product ControlName="current4" TextName="商品图片" Add="True" Edit="True" Type="LI" />
  <Product ControlName="current5" TextName="详细信息" Add="True" Edit="True" Type="LI" />
  <Product ControlName="current6" TextName="搜索优化" Add="True" Edit="True" Type="LI" />
  <Product ControlName="current7" TextName="商品配件" Add="True" Edit="True" Type="LI" />
  <Product ControlName="current8" TextName="相关商品" Add="True" Edit="True" Type="LI" />
  <Product ControlName="current9" TextName="相关文章" Add="True" Edit="True" Type="LI" />
  <Product ControlName="current10" TextName="扩展分类" Add="True" Edit="True" Type="LI" />
</ProductOperate>