<?xml version="1.0" encoding="utf-8"?>
<PublicIndex xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Pub UrlName="index" TextName="首页" />
  <Pub UrlName="articleindex" TextName="文章首页" />
  <Pub UrlName="mallindex" TextName="购物首页" />
  <Pub UrlName="activityindex" TextName="活动首页" />
  <Pub UrlName="guideindex" TextName="导购首页" />
  <Pub UrlName="list" TextName="分类列表" />
  <Pub UrlName="brandindex" TextName="品牌首页" />
  <Pub UrlName="couponindex" TextName="优惠券首页" />
  <Pub UrlName="scoreindex" TextName="积分兑换首页" />
  <Pub UrlName="groupbuyindex" TextName="团购首页" />
  <Pub UrlName="helpindex" TextName="帮助首页" />
  <Pub UrlName="shippingadvice" TextName="发货通知首页" />
  <Pub UrlName="subscription" TextName="订阅页面" />
  <Pub UrlName="poll" TextName="投票首页" />
  <Pub UrlName="message" TextName="留言首页" />
  <Pub UrlName="pswback" TextName="取回密码" />
  <Pub UrlName="noticelist" TextName="公告列表" />
  <Pub UrlName="snatchindex" TextName="夺宝骑兵首页" />
</PublicIndex>
