<link rel="stylesheet" type="text/css" href="../Template/{path}/css/scroll.css">
<script language="javascript" src="../Template/{path}/js/scroll.js" type="text/javascript"></script>
<div class="pfhlkd_frame1">
    <div class="pfhlkd_mode0  pfhlkd_mf10001000"></div>
    <div class="pfhlkd_mode0  pfhlkd_mf10001005"></div>
    <div class="pfhlkd_mode0  pfhlkd_mf10001001">
        <div class="bd pfhlkd_bd_10">
            <div class="shop_slider shop_slider_auto mod_pic_mt_1" data-tag="module-slider" data-height="320">
                <div class="inner" data-tag="slider-warp" style="visibility: visible;">
                    <ul class="pic_list" data-tag="slider-list" style="width: 2560px;">
                        <#loop rollImages#> 
                            <li data-index="0" style="width: 640px; left: 0px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate(640px, 0px) translateZ(0px);">
                                 <a href="{rollImages[Hyperlink]}" target="_blank" title="图片">
                                    <img alt="图片" class="pp_init_img" src="{v5ImageGroupUrl2}{rollImages[ImageUrl]}"></a></li>
                        <#/loop#>
                    </ul>
                </div>
                <div class="bar_wrap">
                    <ul class="bar" data-tag="slider-page">
                        <li class=""></li>
                        <li class="cur"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
