<div class="classtitle">
{Web:MS=ClassCode┆大类调用数量$1┆分类开始序号$1┆输出格式$out_None┆大类调用样式$skin_vc_首页分类商品样式二┆标题数$8┆排列字段$OrderID┆排列方式$ASC┆打开窗口$1}
    </div>
    <div class="classad pb10 pt5">
        <div class="float_l mr10 leftwidth2"><a href="#" target="_blank"><img src="images/index/ad_572-320B.gif" /></a></div>
        <div class="float_l mb10 rightwidth2"><a href="#" target="_blank"><img src="images/index/ad_378-154C.gif" /></a></div>
        <div class="float_l rightwidth2"><a href="#" target="_blank"><img src="images/index/ad_378-154D.gif" /></a></div>
        <div class="clear"></div>
      </div>
      <div class="classpro">
        <ul>
        {Web:MS=ClassMalls┆分类$0┆分类序列$2┆Loop$5┆输出格式$out_None┆引用样式$skin_vc_首页商品样式四┆标题数$14┆缩略图宽高$180*180┆排列字段$OrderID┆排列方式$DESC┆打开窗口$1}
        </ul>
      </div>