<ul class="items clearfix">
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-1061.html#C001"> <img height="186px" width="186px" alt="绚丽色彩个性英文T恤（情侣款）" title="绚丽色彩个性英文T恤（情侣款）" src="http://img19.doin.cn//UploadFile/Picture/T20100/186243/T20100_1_002_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="002" picbig="http://img19.doin.cn//UploadFile/Picture/T20100/186243/T20100_1_002_01-186243.jpg?201205111352" title="本白" hidefocus="true" href="javascript:void(0);"> <img alt="本白" title="本白" src="http://img19.doin.cn//UploadFile/Picture/T20100/5065/T20100_1_002_06-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-1061.html#C001">绚丽色彩个性英文T恤（情侣款）</a> </div>
          <div class="price"> <strong class="maincolor">RMB:45.00</strong> <del>69.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-574.html#c704"> <img height="186px" width="186px" alt="简约骷髅起舞背心" title="简约骷髅起舞背心" src="http://img14.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_704_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="704" picbig="http://img14.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_704_01-186243.jpg?201205111352" title="桃红" hidefocus="true" href="javascript:void(0);"> <img alt="桃红" title="桃红" src="http://img18.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_704_05-5065.jpg?201205111352"> </a> </li>
            <li doinid="listPicSrc"> <a colorspec="002" picbig="http://img15.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_002_01-186243.jpg?201205111352" title="本白" hidefocus="true" href="javascript:void(0);"> <img alt="本白" title="本白" src="http://img15.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_002_01-5065.jpg?201205111352"> </a> </li>
            <li doinid="listPicSrc"> <a colorspec="512" picbig="http://img15.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_512_01-186243.jpg?201205111352" title="米色" hidefocus="true" href="javascript:void(0);"> <img alt="米色" title="米色" src="http://img17.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_512_01-5065.jpg?201205111352"> </a> </li>
            <li doinid="listPicSrc"> <a colorspec="902" picbig="http://img19.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_902_01-186243.jpg?201205111352" title="黑色" hidefocus="true" href="javascript:void(0);"> <img alt="黑色" title="黑色" src="http://img12.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_902_01-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-574.html#c704">简约骷髅起舞背心</a> </div>
          <div class="price"> <strong class="maincolor">RMB:49.00</strong> <del>59.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-1233.html#cA73"> <img height="186px" width="186px" alt="浪漫荷叶边吊带雪纺衫" title="浪漫荷叶边吊带雪纺衫" src="http://img12.doin.cn//UploadFile/Picture/C70002/186243/C70002_1_A73_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="A73" picbig="http://img12.doin.cn//UploadFile/Picture/C70002/186243/C70002_1_A73_01-186243.jpg?201205111352" title="红蓝花色" hidefocus="true" href="javascript:void(0);"> <img alt="红蓝花色" title="红蓝花色" src="http://img18.doin.cn//UploadFile/Picture/C70002/5065/C70002_1_A73_03-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-1233.html#cA73">浪漫荷叶边吊带雪纺衫</a> </div>
          <div class="price"> <strong class="maincolor">RMB:59.00</strong> <del>99.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-1217.html#c208"> <img height="186px" width="186px" alt="一字领缝线装饰百搭短袖T恤" title="一字领缝线装饰百搭短袖T恤" src="http://img15.doin.cn//UploadFile/Picture/T20105/186243/T20105_1_208_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="208" picbig="http://img15.doin.cn//UploadFile/Picture/T20105/186243/T20105_1_208_01-186243.jpg?201205111352" title="深麻灰" hidefocus="true" href="javascript:void(0);"> <img alt="深麻灰" title="深麻灰" src="http://img11.doin.cn//UploadFile/Picture/T20105/5065/T20105_1_208_04-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-1217.html#c208">一字领缝线装饰百搭短袖T恤</a> </div>
          <div class="price"> <strong class="maincolor">RMB:59.00</strong> <del>89.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-1061.html#C001"> <img height="186px" width="186px" alt="绚丽色彩个性英文T恤（情侣款）" title="绚丽色彩个性英文T恤（情侣款）" src="http://img19.doin.cn//UploadFile/Picture/T20100/186243/T20100_1_002_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="002" picbig="http://img19.doin.cn//UploadFile/Picture/T20100/186243/T20100_1_002_01-186243.jpg?201205111352" title="本白" hidefocus="true" href="javascript:void(0);"> <img alt="本白" title="本白" src="http://img19.doin.cn//UploadFile/Picture/T20100/5065/T20100_1_002_06-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-1061.html#C001">绚丽色彩个性英文T恤（情侣款）</a> </div>
          <div class="price"> <strong class="maincolor">RMB:45.00</strong> <del>69.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-574.html#c704"> <img height="186px" width="186px" alt="简约骷髅起舞背心" title="简约骷髅起舞背心" src="http://img14.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_704_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="704" picbig="http://img14.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_704_01-186243.jpg?201205111352" title="桃红" hidefocus="true" href="javascript:void(0);"> <img alt="桃红" title="桃红" src="http://img18.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_704_05-5065.jpg?201205111352"> </a> </li>
            <li doinid="listPicSrc"> <a colorspec="002" picbig="http://img15.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_002_01-186243.jpg?201205111352" title="本白" hidefocus="true" href="javascript:void(0);"> <img alt="本白" title="本白" src="http://img15.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_002_01-5065.jpg?201205111352"> </a> </li>
            <li doinid="listPicSrc"> <a colorspec="512" picbig="http://img15.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_512_01-186243.jpg?201205111352" title="米色" hidefocus="true" href="javascript:void(0);"> <img alt="米色" title="米色" src="http://img17.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_512_01-5065.jpg?201205111352"> </a> </li>
            <li doinid="listPicSrc"> <a colorspec="902" picbig="http://img19.doin.cn//UploadFile/Picture/T50008/186243/T50008_1_902_01-186243.jpg?201205111352" title="黑色" hidefocus="true" href="javascript:void(0);"> <img alt="黑色" title="黑色" src="http://img12.doin.cn//UploadFile/Picture/T50008/5065/T50008_1_902_01-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-574.html#c704">简约骷髅起舞背心</a> </div>
          <div class="price"> <strong class="maincolor">RMB:49.00</strong> <del>59.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-1233.html#cA73"> <img height="186px" width="186px" alt="浪漫荷叶边吊带雪纺衫" title="浪漫荷叶边吊带雪纺衫" src="http://img12.doin.cn//UploadFile/Picture/C70002/186243/C70002_1_A73_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="A73" picbig="http://img12.doin.cn//UploadFile/Picture/C70002/186243/C70002_1_A73_01-186243.jpg?201205111352" title="红蓝花色" hidefocus="true" href="javascript:void(0);"> <img alt="红蓝花色" title="红蓝花色" src="http://img18.doin.cn//UploadFile/Picture/C70002/5065/C70002_1_A73_03-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-1233.html#cA73">浪漫荷叶边吊带雪纺衫</a> </div>
          <div class="price"> <strong class="maincolor">RMB:59.00</strong> <del>99.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
        <li class="item">
          <div class="pic" doinid="listPicBig"> <a class="ttn" target="_blank" ttn="331" href="/p-1217.html#c208"> <img height="186px" width="186px" alt="一字领缝线装饰百搭短袖T恤" title="一字领缝线装饰百搭短袖T恤" src="http://img15.doin.cn//UploadFile/Picture/T20105/186243/T20105_1_208_01-186243.jpg?201205111352"> </a> </div>
          <ul class="color clearfix" doinid="listColorThumb">
            <li class="selected" doinid="listPicSrc"> <a colorspec="208" picbig="http://img15.doin.cn//UploadFile/Picture/T20105/186243/T20105_1_208_01-186243.jpg?201205111352" title="深麻灰" hidefocus="true" href="javascript:void(0);"> <img alt="深麻灰" title="深麻灰" src="http://img11.doin.cn//UploadFile/Picture/T20105/5065/T20105_1_208_04-5065.jpg?201205111352"> </a> </li>
          </ul>
          <div class="name"> <a class="lightgray" target="_blank" href="/p-1217.html#c208">一字领缝线装饰百搭短袖T恤</a> </div>
          <div class="price"> <strong class="maincolor">RMB:59.00</strong> <del>89.00</del> <span class="icon"> <img src="images/category/tj.png"> </span> </div>
          <div class="brand"></div>
        </li>
      </ul>