
      <div class="classtitle">
        <div class="titlename">
          <div class="chinese">网站订购流程</div>
          <div class="english">ORDER PROCESS</div>
          <div class="arrow"></div>
          <div class="arrow2"></div>
        </div>
      </div>
      <div class="classcontent"> <span lang="EN-US" style="font-size: 10.5pt;">
        <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
        <br>
        <img alt="" src="images/product/20112191318331157.jpg"> <br>
        <span style="font-size: small;"> <span style="font-family: 宋体;"> <br>
        1、查找商品 <br>
        2、加入购物车 <br>
        3、进入订单页 <br>
        4、用户登录、注册 <br>
        如果您是老会员，请直接输入会员名、电子邮箱和密码登录；如果您是新会员，请填写会员名和电子邮箱，并设定密码，点击"完成"。 <br>
        5、填写收货人信息 <br>
        6、选择支付方式 <br>
        我们提供的支付方式有：网上银行支付、支付宝、货到付款、银行汇款。 <br>
        7、订单确认 <br>
        完成上述所有流程后您可以点击"提交订单"，订单完成。 <br>
        8、确认收货 <br>
        9、商品评价 <br>
        温馨提示： <br>
        发票开具：在提交订单页面时可以修改发票开具，您可以填写抬头，DOIN 发票内容只可以开具"服饰"。 <br>
        取消订单：如因用户利用系统问题或网页漏洞，生成恶意订单，订单将在24小时内自动取消。 </span> </span></div>
    