<div class="topbar">
    <h1 class="t-cart">
        购物车</h1>
    <a class="t-edit" href="">
        <!--操作为删除时样式“t-del”-->
        修改</a>
</div>
<section class="cart-count">
    <span class="numb">共3件商品</span><span class="price">¥3226</span>
</section>
<div class="mainwidth mauto mt10 mb10" style="height: 300px">
    <!--没有购物时显示内容 begin-->
    <div class="no_order" id="ShowCart" style="display: none;">
        <ul>
            <li>采购车中还没有商品，赶紧选购吧！</li><li><a href="[$syspath]index.aspx" class="gobuy"></a></li>
        </ul>
    </div>
    <!--没有购物时显示内容 end-->
    <section class="cart-list">
        <ul class="cart-list-ul" id="cartItemTotal" style="display: none;">

            <li class="cart-list-li">
                <label class="operate">
                    <input type="checkbox" class="icon_cartcheck J_ytag" data-type="2" ytag="31001" value="582733"></label>
                <div class="pic">
                    <a href="">
                        <img src="$Image" width="120" height="120" alt="产品"></a>
                </div>
                <div class="info">
                    <p class="info-name">
                        $Title
                    </p>
                    <p class="info-price">
                        ￥$ProductPrice</p>
                    <span class="ui-number">
                        <button type="button" class="decrease">
                            -</button>
                        <input type="number" class="num" name="quantity" autocomplete="off" value="$OperateNum"
                            min="1" max="19684">
                        <button type="button" class="increase">
                            +</button>
                    </span>
                </div>
            </li>
        </ul>
        <ul class="cart-list-ul" id="newCartItemTotal">

        </ul>
        
    </section>
    <div class="clear">
    </div>
    <section class="s-btn">

        <button class="settle-account" onclick="Cart.runOrderInfo(this)">
            去结算</button>
    </section>
   
</div>
<!--<div id='dhtmltooltip' style="z-index:10001;"></div>
<script language="javascript" src="js/showimg.js" type="text/javascript"></script>-->
