<ul>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900440.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913433.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913461.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900440.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900441.jpg" width="160" height="120" />
					</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16938865.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913461.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913433.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900441.jpg" width="160" height="120" />
					</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16938865.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900440.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913433.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913461.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900440.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900441.jpg" width="160" height="120" />
					</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16938865.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900441.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913433.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16913461.jpg" width="160" height="120" />
					</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16938865.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <li>
			<div class="productLogo"><img src="images/brand/sale.png" width="37" height="33" /></div>
                	<div class="img"><a target="_blank" href="#"><img src="images/brand/16900440.jpg" width="160" height="120" />
			</a></div>
                    <div class="txt">
                    <a target="_blank" href="#"><p class="productName"><strong>达芙妮  女士<br><small>甜蜜糖果靓丽圆头楔跟单鞋</small></strong></p>
                        <p>专柜价：339.00<br>
                     <span class="cost">商城价：<span >159.00</span></span></p></a></div>
       	  </li>
          <div class="clear"></div>
</ul>