<div class="classtitle">
      <div class="titlename">
        <div class="chinese">促销活动</div>
        <div class="english">ACTIVITY</div>
        <div class="arrow"></div>
      </div>
      <div class="titlelink">
        <ul>
          <li class="more"><a href="[$syspath]activityindex.aspx" target="_blank" title="">more>></a></li>
        </ul>
      </div>
    </div>
    <div class="classad pb10 pt5">
        <div class="leftwidth2"><!--<a href="#" target="_blank"><img src="images/index/ad_572-214.gif" /></a>-->
        {Web:HS=Activity┆Loop$1┆输出格式$out_None┆引用样式$skin_vc_首页促销活动样式一┆缩略图宽高$572*214┆排列字段$Date┆排列方式$DESC┆打开窗口$1}
        </div>
      </div>
      <div class="mainactivity">
        <ul>
         {Web:HS=Activity┆Loop$4┆活动开始序号$1┆输出格式$out_None┆引用样式$skin_vc_首页促销活动样式一┆缩略图宽高$135*75┆排列字段$Date┆排列方式$DESC┆打开窗口$1}
        </ul>
      </div>