<div class="content">
          <p class="name"><a href="spike.html" target="_blank">邂逅唯美清甜洛丽塔白衬衫</a></p>
          <p class="price">秒杀价：<b class="maincolor">　39.00</b></p>
          <p class="marketprice">原　价：<del>￥169.00</del></p></dt>
          <div class="spiketime">
             <div id="spikeendtime">
                <div class="timel"><b class="maincolor">42</b>小时<b class="maincolor">42</b>分</div>
                <div class="timer"><b class="maincolor">10</b>　　秒</div>
             </div>
          </div>
          <div class="pic">
             <a title="时尚海马图案T恤" target="_blank" href="spike.html"><img src="http://img1.doin.cn//UploadFile/Picture/T20051/232303/T20051_1_002_01-232303.jpg"></a>
          </div>
        </div>