<!DOCTYPE html>
<html lang="zh-CN" class="detail_standard">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{shoptitle}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" type="text/css" href="http://html.v5portal.com/mobile-template/tiantianguoyuan/css/common.css">
    <link rel="stylesheet" type="text/css" href="http://html.v5portal.com/mobile-template/tiantianguoyuan/css/pro-detail.css">     
    <link rel="stylesheet" type="text/css" href="http://html.v5portal.com/distribution/css/PreFoot.css">

    <script language="javascript" src="../Template/{path}/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../Template/public/js/product.js" language="javascript"></script>
    <script type="text/javascript" src="../Template/public/js/Common.js" language="javascript"></script>

    <script type="text/javascript" src="../Template/{path}/js/common.js" language="javascript" charset="gb2312"></script>
  <script src="../../../member/js/WeiXinShare.js"></script>
    <script type="text/javascript">
        //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //    WeixinJSBridge.call('showOptionMenu');
        //});
        $(function () {

            var title = $("#itemName").text();//商品名称
            var desc = ("{ProductPriceDesc}")  + $("#price").text() + ("<br />{ProductDesc}");//商品描述
            var url = $(this).attr("URL");
            var img_url = $(".inner img").attr("src");
            GetData(url, title, desc, img_url);
        });
    </script>
</head>


<body>
    <div class="popup" id="popup" style="display: none">
    </div>
    <header class="wx_hd">
        <nav>
            <h2>商品详情</h2>
            <a class="btn_back" href="category.aspx">返回</a>
            <a class="btn_category" href="category.aspx">分类</a>
        </nav>
    </header>

    <div class="mod_slider" id="loopImgDiv">
        <div class="inner">
            {web_skin_vc_商品详细大图多图}   

        </div>
    </div>
    {web_skin_vc_商品详细信息} 
    {web_skin_vc_通用底部版权}
</body>
</html>
