@charset "utf-8";
/* CSS Document */
.w980 { width:980px}
.w786 { width:786px}
.my_txt { width: 566px; padding:10px;}
.rv1_tuijianlist02 { padding-left: 2px; width: 781px;}
.rv1_tuijianlist02 li { margin-left: 15px; width: 112px;}
.rv1_tuijianlist03 { padding-left: 2px; width: 742px;}
.rv1_tuijianlist03 li { margin-left: 10px; width: 112px;}