<ul class="list-box">
        <li>
          <div class="id">1</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">2</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">3</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">4</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">5</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">6</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">7</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">8</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li class="current">
          <div class="id">9</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
        <li>
          <div class="id">10</div>
          <div class="pic"><img src="images/artcleindex/200941.jpg" /></div>
          <div class="title">爆款新款夏装爆款新款夏装连衣裙女夏连衣裙女夏</div>
          <div class="price">热销 <b>5824</b> 件</div>
          <div class="sales">￥68.00</div>
        </li>
      </ul>

